
body{
    background-color: rgb(0, 108, 248);
    
}

.signin-box{
    margin: auto;
    height: 350px;
    width: 360px;
    background-color: white;
    border-radius: 8px;

}
h1{
    margin-top: 20px;
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
.lable1{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 0px;

}
.text{
    margin-top: 8px;
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}
.box{
    margin-top: 10px;
}
.btn{
    color: white;
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(70, 70, 185);
   
    font-size: 18px;
}
.btn:hover{
    background-color:rgb(15, 0, 224);
}
.last{
    color: blue;
    text-decoration: none;
}
.f{
    margin-top: 10px;
    text-align: end;
    
}
.login_form #email_error,
.login_form #password_error{
    
    margin-top: 5px;
    width: 300px;
    font-size: 13px;
    color: #C62828;
    background: rgb(240, 198, 198);
    padding: 3px 6px;
    border-radius: 3px;
    border: 1px solid#EF9A9A;
    display:none;
}